@import url('pier-font.css');

body {
  font-family: 'pier_sansregular', sans-serif;
}

.full-height {
  height: 100vh;
}

/* COLOR */
.prim-color {
  background-color: #1D1B1B !important;
}

.prim-color-text {
  color: #1D1B1B !important;
}

.acc-color {
  background-color: #EC4D37 !important;
}

.acc-color-text {
  color: #EC4D37 !important;
}
/* COLOR */




/* NAV WITH SHADOW */
#navbar-shadow.scrolled {
  background-color: #0a0a0a !important;
  transition: background-color 150ms linear, box-shadow 150ms linear;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

#navbar-shadow.on-top {
  background-color: #1D1B1B !important;
  transition: background-color 150ms linear, box-shadow 150ms linear;
  box-shadow: 0 0px 0px;
}
/* NAV WITH SHADOW */




/* SEARCH BUTTON NAV */
#search-icon input {
  outline: none;
}

#search-icon input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

#search-icon input::-webkit-search-decoration,
#search-icon input::-webkit-search-cancel-button {
  display: none; 
}

#search-icon input[type=search] {
  background: #1D1B1B url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 2px #EC4D37 !important;
  padding: 9px 10px 9px 32px;
  width: 20px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#search-icon input[type=search] {
  width: 0px;
  color: transparent;
  cursor: pointer;
}

#search-icon input[type=search]:hover {
  background-color: #EC4D37;
}

#search-icon input[type=search]:focus {
  width: 200px;
  padding-left: 35px;
  color: #BDBDBD;
  background-color: #1D1B1B;
  cursor: auto;
}

#search-icon input:-moz-placeholder {
  color: transparent;
}

#search-icon input::-webkit-input-placeholder {
  color: transparent;
}
/* SEARCH BUTTON NAV */



/* CUSTOM TOGGLER */
#custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(236, 77, 55)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#custom-toggler.navbar-toggler {
  border-color: transparent;
} 
/* CUSTOM TOGGLER */




/* SECTION 1 */
#section-one .headline {
  font-family: 'pier_sansbold', sans-serif;
}

#section-one .description {
  font-family: 'pier_sanslight', sans-serif;
}

#section-one a.btn-hover{
  background: transparent;
  color: white;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-family: 'pier_sansbold', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px 16px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#section-one a.btn-hover:hover{
  color: #EC4D37;
  background-color: #FFF;
  font-family: 'pier_sansbold', sans-serif;
}

#section-one .x-img {
  width: auto;
  height: 400px;
  background-color: #EC4D37;
}
/* SECTION 1 */

/* SECTION 2 */
#section-two {
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  background-image: url('../img/footer-bg.jpg');
}

#section-two .small-text {
  color: white !important;
  text-transform: uppercase;
  font-family: 'pier_sansbold', sans-serif;
  letter-spacing: 3px;
  font-size: 1rem;
}

#section-two .headline-text {
  color: #EC4D37 !important;
}

#section-two hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* SECTION 2 */

/* SECTION 3 */

#section-three .small-text {
  color: white !important;
  text-transform: uppercase;
  font-family: 'pier_sansbold', sans-serif;
  letter-spacing: 3px;
  font-size: 1rem;
}

#section-three .card {
  border-radius: 15px;
}

#section-three .card-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#section-three .card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#section-three .fas {
  padding-top: 25px;
  font-size: 3rem;
}
/* SECTION 3 */


/* ABOUT US */

#about-us-1 .nav-pills .nav-link {
    color: #757575;
    font-family: 'pier_sansmedium', sans-serif;
    font-size: 1.2rem;
    padding-left: 40px;
    padding-right: 40px;
}

#about-us-1 .nav-pills .active {
  color: #EC4D37 !important;
  background-color: transparent !important;
  border-bottom: 2px solid #EC4D37;
  border-radius: 0px;
}

#about-us-1 .logo {
  background-color: #EC4D37 !important;
  width: auto;
  height: 300px;
}

#about-us-1 .desc-text {
  color: #e0e0e0 !important;
  font-family: 'pier_sanslight', sans-serif;
  font-size: 1.2rem;
}

#team .small-text {
  color: white;
  text-transform: uppercase;
  font-family: 'pier_sansbold', sans-serif;
  letter-spacing: 3px;
  font-size: 1rem;
}

#team .img-hover-zoom {
  width: 100%;
  overflow: hidden;
}

#team .img-hover-zoom > .caption-name {
  position: absolute;
  bottom: 30px;
  left: 70px;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  color: white;

}

#team .img-hover-zoom > .caption-desc {
  position: absolute;
  bottom: 10px;
  left: 70px;
  font-size: large;
  font-weight: bold;
  color: white;
  
}

#team .img-hover-zoom img {
  transition: transform .5s ease;
}

#team .img-hover-zoom:hover img {
  transform: scale(1.5);
}

#team .img-hover-zoom--colorize img {
  transition: transform .5s, filter .5s ease-in-out;
  filter: grayscale(100%);
}

#team .img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* ABOUT US*/

/* SUPPORT US */

#support-us .img-sample {
  background-color: #EC4D37;
  width: 200px;
  height: 200px;
}

#support-us .desc-text {
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
  max-width: 80%;
  color: white;
}

@media only screen and (min-width: 800px) {
  #support-us .desc-text {
    max-width: 50%;
  }
}

#support-us a.btn-hover{
  background: transparent;
  color: white;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-family: 'pier_sansbold', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px 16px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

#support-us a.btn-hover:hover{
  color: #EC4D37;
  background-color: #FFF;
  font-family: 'pier_sansbold', sans-serif;
}

#benefit .divider-white {
  border-bottom: 3px solid white;
  margin: 10px 0px;
  width: 80%;
}

#benefit .benefit-desc {
  color: white;
  font-size: 1.1em;
}

/* SUPPORT US */

/* MEDIA */

#player {
  position: relative;
	overflow: hidden;
	width: 100%;padding-top: 56.25%;
}

#player iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#article .card {
  border-radius: 15px;
}

#article .card-img {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* MEDIA */

/* FOOTER */

#footer {
  background-color: #0a0a0a !important;
}

/* FOOTER */